# Dependencies
            /bin/
            /obj/

            # User-specific files
            *.suo
            *.user
            *.userosscache
            *.sln.docstates

            # Build results
            [Bb]in/
            [Oo]bj/# Dependencies
            /bin/
            /obj/

            # User-specific files
            *.suo
            *.user
            *.userosscache
            *.sln.docstates

            # Build results
            [Bb]in/
            [Oo]bj/